.form-submit-ticket .form-group, .form-submit-ticket .param{
	    max-width: 100%;
}
.btn-ajuda{
    background-color:#38bc7d;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 15px 0px 35px 0px;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.main__content.notice-flash {
    display: inline !important;
}
